.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.loader-small {
    padding: 20px;

    .spinner {
      width: 30px;
      height: 30px;
      border-width: 3px;
    }

    .loader-message {
      font-size: 12px;
    }
  }

  &.loader-medium {
    padding: 40px;

    .spinner {
      width: 50px;
      height: 50px;
      border-width: 4px;
    }

    .loader-message {
      font-size: 14px;
    }
  }

  &.loader-large {
    padding: 60px;

    .spinner {
      width: 70px;
      height: 70px;
      border-width: 5px;
    }

    .loader-message {
      font-size: 16px;
    }
  }

  .spinner {
    border: 4px solid #e2e8f0;
    border-top-color: #667eea;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loader-message {
    margin-top: 16px;
    color: #718096;
    font-weight: 500;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
